/* Blockquote */

.blockquote {
  background: var(--color-secondary-10);
}

/* Container */

.container {
  display: grid;
  grid-gap: var(--gap-24);
}

@media (max-width: 736px) {
  .container {
    padding-top: var(--gap-40);
    padding-bottom: var(--gap-40);

    grid-auto-flow: row;
  }
}

@media (min-width: 736px) {
  .container {
    padding-top: var(--gap-56);
    padding-bottom: var(--gap-56);
    grid-template-columns: repeat(12, 1fr);
  }
}

/* Content */

.content {
  margin: 0;

  font-family: var(--ff-display);
  font-size: var(--fs-blockquote);
  font-style: italic;
  line-height: var(--lh-blockquote);
}

@media (min-width: 736px) {
  .content {
    grid-column: 7 / 11;
    align-self: center;
  }
}

/* Footer */

.footer:before {
  content: '';

  display: block;
  width: 3.5rem;
  height: 3px;
  background: var(--color-accent);
}

@media (max-width: 736px) {
  .footer {
    margin-top: var(--gap-24);
  }

  .footer:before {
    margin-bottom: var(--gap-8);
  }
}

@media (min-width: 736px) {
  .footer {
    margin-top: var(--gap-32);
  }

  .footer:before {
    margin-bottom: var(--gap-16);
  }
}

/* Author */

.author {
  font-family: var(--ff-base);
  font-style: normal;
  font-size: var(--fs-text);
  line-height: 1;
}

/* Picture */

@media (min-width: 736px) {
  .picture {
    grid-column: 3 / 6;
  }
}