/* Statistics */

.statistics {
  display: grid;
}

@media (max-width: 600px) {
  .statistics {
    grid-auto-flow: row;
    grid-gap: var(--gap-56);
  }
}

@media (max-width: 900px) {
  .statistics {
    padding-top: var(--gap-80);
    padding-bottom: var(--gap-80);
  }
}

@media (min-width: 600px) {
  .statistics {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--gap-80) var(--gap-24);
  }
}

@media (min-width: 900px) {
  .statistics {
    padding-top: var(--gap-120);
    padding-bottom: var(--gap-120);

    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--gap-80) var(--gap-24);
  }
}

/* Facts List */

.facts-list {
  display: grid;

  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 900px) {
  .facts-list {
    max-width: 70%;
    grid-gap: var(--gap-32);
  }
}

@media (min-width: 500px) {
  .facts-list {
    width: 100%;
    max-width: none;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 600px) {
  .facts-list {
    grid-gap: var(--gap-24);
    grid-column: span 2;
    grid-row: 1 / 2;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

@media (min-width: 900px) {
  .facts-list {
    grid-column: span 12;
  }
}

/* Fact */

.fact-num {
  margin: 0;

  width: 5rem;
  height: 5rem;

  font-family: var(--ff-display);
  font-size: var(--fs-h2);
  line-height: 5rem;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: var(--color-primary-50);
  background: var(--color-primary-20);
  border-radius: 1rem;
}

.fact-label {
  margin-top: var(--gap-16);
  margin-bottom: 0;
}

/* Content */

.content h2 {
  margin-top: 0;
  margin-bottom: var(--gap-24);
  font-family: var(--ff-display);
  font-size: var(--fs-h2);
  line-height: var(--lh-h2);
  letter-spacing: 0.03em;
}

.content p {
  margin: 0;
}

.content p + p {
  margin-top: var(--gap-16);
}

.content button {
  margin-top: var(--gap-32);
}

@media (min-width: 600px) {
  .content {
    align-self: center;

    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

@media (min-width: 900px) {
  .content {
    grid-column: 2 / 8;
  }
}

/* Picture */

.picture {
  position: relative;
  overflow: visible;
}

@media (max-width: 600px) {
  .picture {
    order: -1;
  }
}

@media (min-width: 600px) {
  .picture {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

@media (min-width: 900px) {
  .picture {
    grid-column: 9 / 12;
  }


  .picture::after {
    content: '';

    position: absolute;
    right: 40%;
    bottom: -10%;
    z-index: -1;

    display: block;
    width: 260px;
    height: 120px;

    background-image: url('../../assets/images/pattern.svg');
    background-size: 15px 15px;
  }

}