/* Factoid */

.factoid {
  background: var(--color-secondary-10);
}

/* Container */

.container {
  padding-top: var(--gap-56);
  padding-bottom: var(--gap-56);
}

/* Content */

.content {
  display: grid;
  grid-gap: var(--gap-16);
  justify-items: end;

  font-family: var(--ff-display);
  font-size: var(--fs-h2);
  line-height: 1;
}

.content p {
  margin: 0;
}

.content p:first-child {
  justify-self: start;
}