/* Factoid */

.factoid {
  background: var(--color-secondary-10);
}

/* Container */

@media (max-width: 736px) {
  .container {
    padding-top: var(--gap-40);
    padding-bottom: var(--gap-40);
  }
}

@media (min-width: 736px) {
  .container {
    padding-top: var(--gap-56);
    padding-bottom: var(--gap-56);
  }
}

/* Content */

.content {
  font-family: var(--ff-display);
}

.content p {
  margin: 0;
}

@media (max-width: 736px) {
  .content {
    font-size: var(--fs-h3);
    line-height: var(--lh-h3);
  }
}

@media (min-width: 736px) {
  .content {
    display: grid;
    justify-items: end;
    grid-gap: var(--gap-16);

    font-size: var(--fs-h2);
    line-height: 1;
  }

  .content p:first-child {
    justify-self: start;
  }
}