/* Modal */

.modal {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);

  padding: 0;
  background: none;
  border: 0;
  overflow: visible;
}

.modal::backdrop {
  background: rgba(0, 0, 0, .6);
  cursor: zoom-out;
}

.modal ~ :global(.backdrop) {
  background: rgba(0, 0, 0, .6);
  cursor: zoom-out;
}

@media (max-width: 900px) {
  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .cross {
    display: none;
  }
}

@media (min-width: 900px) {
  .cross {
    position: absolute;
    left: calc(100% + 1rem);
    bottom: calc(100% + 1rem);
    border: 0;
    background: none;
    color: white;
    cursor: pointer;
  }

  .icon {
    fill: currentColor;
  }
}