/* Header */

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;

  height: 3.5rem;
}

@media (max-width: 736px) {
  .header {
    background: var(--color-secondary-20);
  }
}

.header-scrolled {
  composes: header;

  position: fixed;
  background: rgba(var(--color-secondary-20-rgb), .2);
  backdrop-filter: blur(5px);
  box-shadow: 3px 3px 12px rgba(0, 0, 0, .08), 13px 13px 30px rgba(0, 0, 0, .16);
}

.header-scrolled .logo,
.header-scrolled .menu {
  color: var(--color-black);
}

.header-scrolled a:hover {
  background: rgba(255, 255, 255, .3);
}

/* Container */

.container {
  height: 100%;

  display: grid;
  align-items: center;
}

@media (max-width: 736px) {
  .container {
    grid-auto-flow: column;
  }
}

@media (min-width: 736px) {
  .container {
    grid-template-columns: max-content max-content;
    justify-content: space-between;
  }
}

/* Logo */

@media (min-width: 736px) {
  .logo {
    height: 100%;
  }
}

@media (max-width: 736px) {
  .logo {
    z-index: 1001;
    justify-self: start;
  }
}

/* Menu */

.menu {
  color: var(--color-white);
}

@media (max-width: 736px) {
  .menu {
    color: var(--color-black);
  }
}

@media (min-width: 736px) {
  .menu {
    height: 100%;
    align-self: center;
  }
}

