/* About */

.about {
  padding-top: var(--gap-120);
  padding-bottom: var(--gap-120);

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: var(--gap-24);
}

/* Headline */

.headline {
  grid-column: 1 / 9;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: var(--gap-24);
  grid-auto-flow: column;
}

/* Heading */

.heading {
  grid-column: 7 / 10;
  grid-row: 1 / 2;
  position: relative;
  margin: 0;
  padding-right: var(--gap-24);
  text-align: right;
  justify-self: end;
  font-family: var(--ff-display);
  font-size: var(--fs-h2);
  line-height: var(--lh-h2);
  letter-spacing: 0.03em;
}

/* Picture */

.picture {
  grid-column: 1 / 6;
  align-self: end;
  width: 100%;
  height: auto;
  overflow: visible;
}

.picture::after {
  content: '';

  position: absolute;
  left: 100%;
  bottom: -6px;
  z-index: -1;

  display: block;
  width: 220px;
  height: 120px;

  background-image: url('../../assets/images/pattern.svg');
  background-size: 15px 15px;
}

/* Content */

.content {
  grid-column: 9 / 13;
}

.content p {
  margin-top: 0;
  margin-bottom: var(--gap-24);
}

.content p:last-child {
  margin-bottom: 0;
}