/* Footer */

.footer {
  color: var(--color-black);
  background-color: var(--color-secondary-20);
}

/* Container */

.container {
  display: grid;
  align-items: center;

  padding-top: var(--gap-16);
  padding-bottom: var(--gap-24);
}

@media (max-width: 600px) {
  .container {
    grid-auto-flow: row;
    grid-gap: var(--gap-16);
  }
}

@media (min-width: 600px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}

@media (min-width: 900px) {
  .container {
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Socials */

@media (max-width: 600px) {
  .socials {
    order: -1;
    margin-left: -0.75rem;
  }
}

@media (min-width: 600px) {
  .socials {
    justify-self: end;
  }
}

/* Privacy */

.privacy {
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
  justify-self: start;
}

/* Copyright */

@media (min-width: 600px) {
  .copyright {
    order: 3;
  }
}

@media (min-width: 900px) {
  .copyright {
    justify-self: center;
    order: initial;
  }
}