/* Coaching */

.coaching {
  padding-top: var(--gap-120);
  padding-bottom: var(--gap-120);

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: var(--gap-40) var(--gap-24);
}

/* Picture */

.picture {
  grid-column: 1 / 4;
  grid-row: 2 / 4;
}

/* Heading */

.heading {
  grid-column: 5 / 9;
  grid-row: 1 / 2;

  margin: 0;
  font-family: var(--ff-display);
  font-size: var(--fs-h2);
  line-height: var(--lh-h2);
  letter-spacing: 0.03em;
}

/* Advantages */

.advantages {
  grid-column: 5 / 11;
  grid-row: 2 / 3;

  margin: 0;
  padding: 0;
}

.advantages-item + .advantages-item {
  margin-top: var(--gap-40);
}

.advantage-title {
  font-size: var(--fs-h5);
  line-height: var(--lh-h5);
  font-weight: bold;
}

.advantage-description {
  padding: 0;
  margin: var(--gap-8) 0 0;
}

/* Tariffs */

.tariffs {
  grid-column: 5 / 13;
  grid-row: 3 / 4;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 0 var(--gap-24);

  list-style: none;
  margin: 0;
  padding: var(--gap-40) 0 0;
}

.tariffs-item {
  grid-column: span 2;
}

.tariffs-divider {
  justify-self: center;
  width: 2px;
  height: 100%;
  background-color: var(--color-primary-50);
  opacity: 0.4;
}

/* Product */

.product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-duration {
  margin: 0;
  font-size: var(--fs-caption);
  line-height: var(--lh-caption);
  color: var(--color-gray-30);
}

.product-title {
  margin-top: var(--gap-8);
  margin-bottom: 0;
  font-family: var(--ff-display);
  font-size: var(--fs-h4);
  line-height: var(--lh-h4);
}

.product-price {
  margin-top: var(--gap-8);
  margin-bottom: var(--gap-24);
}