/* Guarantees */

.guarantees {
  display: grid;
}

@media (max-width: 736px) {
  .guarantees {
    grid-gap: var(--gap-40);
  }
}

@media (min-width: 736px) {
  .guarantees {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--gap-24);
  }
}

/* Heading */

.heading {
  margin: 0;
  font-family: var(--ff-display);
  font-size: var(--fs-h4);
  line-height: var(--lh-h4);
}

@media (min-width: 736px) {
  .heading {
    grid-column: 1 / 4;
    justify-self: end;
    text-align: right;
  }
}

/* List */

.list {
  display: grid;

  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 736px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--gap-40) var(--gap-24);
  }
}

@media (min-width: 736px) {
  .list {
    grid-column: 5 / 13;

    grid-template-columns: repeat(4, 1fr);
    grid-gap: var(--gap-40) var(--gap-24);
  }
}

/* Badge */

.badge {
  width: 4rem;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background: var(--color-primary-20);
}

/* Icon */

.icon {
  width: 3rem;
  height: 3rem;
  fill: var(--color-primary-70);
}

/* Label */

.label {
  margin-top: var(--gap-16);
  margin-bottom: 0;

  opacity: 0.8;
}