/* Guarantees */

.guarantees {
  display: grid;
}

@media (max-width: 900px) {
  .guarantees {
    grid-gap: var(--gap-40);
  }
}

@media (min-width: 900px) {
  .guarantees {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--gap-24);
  }
}

/* Heading */

.heading {
  margin: 0;
  font-family: var(--ff-display);
  font-size: var(--fs-h4);
  line-height: var(--lh-h4);
}

@media (min-width: 900px) {
  .heading {
    grid-column: 1 / 4;
    justify-self: end;
    text-align: right;
  }
}

/* List */

.list {
  display: grid;

  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 600px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--gap-40) var(--gap-24);
  }
}

@media (min-width: 900px) {
  .list {
    grid-column: 5 / 13;

    grid-template-columns: repeat(4, 1fr);
    grid-gap: var(--gap-40) var(--gap-24);
  }
}

/* Badge */

.badge {
  width: 4rem;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background: var(--color-primary-20);
}

/* Icon */

.icon {
  width: 3rem;
  height: 3rem;
  fill: var(--color-primary-70);
}

/* Label */

.label {
  margin-top: var(--gap-16);
  margin-bottom: 0;

  opacity: 0.8;
}

/* Tooltip */

.tooltip {
  padding: var(--gap-16) !important;
  color: var(--color-black) !important;
  background-color: var(--color-secondary-20) !important;
}

.tooltip:global(.show) {
  opacity: 1 !important;
}

.tooltip:before {
  border-bottom: 8px solid transparent !important;
}

.tooltip:after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  top: -6px;
  left: 50%;
  margin-left: -8px;
  border-bottom-style: solid;
  border-bottom-width: 6px;
  border-bottom-color: var(--color-secondary-20) !important;
}

/* Tooltip Trigger */

.tooltip-trigger {
  color: inherit;
  text-decoration: underline;
  text-decoration-style: dotted;
}

/* Tooltip Content  */

.tooltip-content {
  max-width: 20rem;

  font-size: var(--fs-caption);
  line-height: var(--lh-caption);
}

.tooltip-content h5 {
  margin-top: 0;
  margin-bottom: 0;

  font-size: var(--fs-caption);
}

.tooltip-content p + h5 {
  margin-top: var(--gap-8);
}

.tooltip-content p {
  margin-top: var(--gap-4);
  margin-bottom: 0;
}